.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    position: "absolute";
    border-top: 30px solid rgb(248, 245, 245);
    margin-right:250px;
    margin-top: 10px;
  }
  